<!-- Section: Design Block -->
<section class="mb-40">
    <div class="px-6 py-12 text-center text-gray-800 lg:my-12 md:px-12 lg:text-left">
      <div class="container mx-auto xl:px-32">
        <div class="flex grid items-center gap-12 lg:grid-cols-2">
          <div class="mt-12 lg:mt-0">
            <h1 class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">The best offer <br /><span class="text-blue-600">for your business</span></h1>
            <a class="inline-block py-3 mr-2 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Get started</a>
            <a class="inline-block py-3 text-sm font-medium leading-snug text-blue-600 uppercase transition duration-150 ease-in-out bg-transparent rounded px-7 hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Learn more</a>
          </div>
          <div class="mb-12 lg:mb-0">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/017.jpg"
              class="w-full rounded-lg shadow-lg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

<!-- Section: Design Block -->
<section class="mb-32 text-gray-800 bg-white">
        <!-- Container for demo purpose -->
        <div class="container px-6 mx-auto my-24">
        <style>
        #pricing-block-5 {
        height: 300px;
        padding-top: 55px;
        }

        @media (min-width: 992px) {
        #pricing-block-5 {
        height: 400px;
        padding-top: 80px;
        }
        }
        .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
        }
        </style>

        <div id="pricing-block-5" class="text-center text-white background-radial-gradient">
        <h2 class="mb-12 text-3xl font-bold text-center">Pricing</h2>
        </div>

        <div class="grid px-6 lg:grid-cols-3 md:px-12 xl:px-32" style="margin-top: -200px">
        <div class="p-0 py-12">
        <div class="block h-full bg-white rounded-lg shadow-lg lg:rounded-tr-none lg:rounded-br-none">
        <div class="p-6 text-center border-b border-gray-300">
        <p class="mb-4 text-sm uppercase">
        <strong>Basic</strong>
        </p>
        <h3 class="mb-6 text-2xl">
        <strong>$ 129</strong>
        <small class="text-sm text-gray-500">/year</small>
        </h3>

        <button type="button"
        class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
        style="background-color: hsl(0, 0%, 95%)" data-mdb-ripple="true" data-ripple-color="primary">
        Buy
        </button>
        </div>
        <div class="p-6">
        <ol class="list-inside">
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Unlimited updates
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Git repository
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>npm installation
        </li>
        </ol>
        </div>
        </div>
        </div>

        <div class="p-0">
        <div class="z-10 block h-full bg-white rounded-lg shadow-lg">
        <div class="p-6 text-center border-b border-gray-300">
        <p class="mb-4 text-sm uppercase">
        <strong>Enterprise</strong>
        </p>
        <h3 class="mb-6 text-2xl">
        <strong>$ 499</strong>
        <small class="text-sm text-gray-500">/year</small>
        </h3>

        <button type="button"
        class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full">
        Buy
        </button>
        </div>
        <div class="p-6">
        <ol class="list-inside">
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Unlimited updates
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Git repository
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>npm installation
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Code examples
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Premium snippets
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Premium support
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Drag&amp;Drop builder
        </li>
        </ol>
        </div>
        </div>
        </div>

        <div class="p-0 py-12">
        <div class="block h-full bg-white rounded-lg shadow-lg lg:rounded-tl-none lg:rounded-bl-none">
        <div class="p-6 text-center border-b border-gray-300">
        <p class="mb-4 text-sm uppercase">
        <strong>Advanced</strong>
        </p>
        <h3 class="mb-6 text-2xl">
        <strong>$ 299</strong>
        <small class="text-sm text-gray-500">/year</small>
        </h3>

        <button type="button"
        class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
        style="background-color: hsl(0, 0%, 95%)" data-mdb-ripple="true" data-ripple-color="primary">
        Buy
        </button>
        </div>
        <div class="p-6">
        <ol class="list-inside">
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Unlimited updates
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Git repository
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>npm installation
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Code examples
        </li>
        <li class="flex items-center mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
        class="w-4 h-4 mr-2 text-green-600" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
        </path>
        </svg>Premium snippets
        </li>
        </ol>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- Container for demo purpose -->
</section>
<!-- Section: Design Block -->

